.alert {
    position: fixed;
    top: 90px;
    right: 40px;
    padding: 1em;
    color: white;
    background-color: #333;
    border-radius: 5px;
    z-index: 1000;
    max-width: 300px;
    width: auto;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
}

.alert-info {
    background-color: #2196F3;
}

.alert-success {
    background-color: #4CAF50;
}

.alert-warning {
    background-color: #FF9800;
}

.alert-error {
    background-color: #F44336;
}
