.navbar {
    background: linear-gradient(47deg, rgba(23, 61, 173, 1) 33%, rgba(189, 17, 58, 1) 100%);
    height: 4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 1rem;
}

.brand {
    border-radius: 50%;
    max-height: 3rem;
    margin-bottom: 2rem;
}

.brand img {
    width: 3.5rem;
    height: 3.5rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-top: 0;
}

.brand img:hover {
    transform: scale(1.1) rotate(360deg);
}

.navLink {
    color: #ffffff;
    padding: 0.5rem 0.75rem;
    transition: color 0.3s ease;
    font-weight: 500
}

.navLink:hover,
.brand:hover,
.dropdownItem:hover,
.basketIcon:hover {
    color: #ff6600;
}

.dropdownMenu {
    background-color: #ffffff;
    border: none;
    border-radius: 0.3rem;
}

.dropdownItem {
    color: #ffffff;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.basketIcon {
    margin-right: 0.5rem;
    color: #ffffff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.basketIcon:hover {
    transform: scale(1.1);
    color: #ff6600;
}

.navbarToggler {
    border: none;
    outline: none;
}

.navbarTogglerIcon {
    filter: invert(1);
}